{% include 'nav.html' %}

<div class="col-lg-12">

    <div class="col-lg-4">
        <h1> Graph </h1>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}

            <label for="name" class="col-lg-4 form-group">Graph Title:</label>  <input required type="text" id="name" name="name" class="col-lg-8 form-group">
            <label for="axis" class="col-lg-4 form-group">Axis Title:</label>  <input required type="text" id="axis" name="axis" class="col-lg-8 form-group">
            <label for="xlable" class="col-lg-4 form-group">X-Lable:</label>  <input required type="text" id="xlable" name="xlable" class="col-lg-8 form-group">
            <label for="ylable" class="col-lg-4 form-group">Y-Lable:</label>  <input required type="text" id="ylable" name="ylable" class="col-lg-8 form-group">

            <label for="file" class="col-lg-4 form-group">File:</label> <input required type="file" name="file" id="file" class="col-lg-8 form-group">
            <input type="hidden" name="tabledata" id="tabledata" value="{{ ddata }}">

            <button type="submit" class="col-lg-6 form-group">Plot</button><span class="col-lg-6"></span>
            </form>
    </div>
   <div class="col-lg-8">

   <div id="example" name="example" class="col-lg-12" style="height: 150px ;overflow:scroll" ></div>

    {% load staticfiles %}
        <img src="{% static 'img/bar.png' %} " class="col-lg-12" >
        <p class="col-lg-6">File : <a href="{% static 'xlsx/bar.xlsx' %} ">{%  static  'xlsx/bar.xlsx' %}</a></p>
        <p class="col-lg-6">Image: <a href=" {% static 'img/bar.png' %} ">{% static 'img/bar.png' %} </a></p>

            <p class="col-lg-9">{{ msg }}</p>
       </div>
</div>
