<div class="row">
    <div class="col-sm-12 col-md-12 sidebar">

        <div class="list-group">
        <span href="graph" class="list-group-item active">
            <span class="glyphicon glyphicon-apple"></span> Function Plot
            </span>
        </span>

            <a href="bar-graph" class="list-group-item">
                Linear
            </a>

            <a href="line-graph" class="list-group-item">
                Quadratic
            </a>
            <a href="contour-plot" class="list-group-item">
                Cubic
            </a>
            <a href="function-plot" class="list-group-item">
                Trignometric
            </a>

            <a href="function-plot" class="list-group-item">
                Power
            </a>

            <a href="function-plot" class="list-group-item">
                Exponential
            </a>

            <a href="function-plot" class="list-group-item">
                Logarithmic
            </a>
            <a href="function-plot" class="list-group-item">
                Rational
            </a>


        </div>
    </div>
</div>
