<div class="row">
    <div class="col-sm-12 col-md-12 sidebar">

        <div class="list-group">
        <span href="graph" class="list-group-item active">
            <span class="glyphicon glyphicon-apple"></span> Graph
            </span>
        </span>

            <a href="bar-graph" class="list-group-item">
                Bar Graph
            </a>

            <a href="line-graph" class="list-group-item">
                Line Graph
            </a>
            <a href="contour-plot" class="list-group-item">
                Contour Plot
            </a>
            <a href="function-plot" class="list-group-item">
                Function Plot
            </a>
        </div>
    </div>
</div>
