{% block nav %}

<html>
<head>
    <title>
        Origin
    </title>
</head>


<body style="background-color:royalblue">
{% load staticfiles %}
    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'css/custom.css' %}" rel="stylesheet">


    <script title="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script title="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script title="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script title="text/javascript" src="{% static 'js/custom.js' %}"></script>

<nav class="navbar-default  nav   navbar-top " style="background-color: deeppink" role="navigation">
    <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand nav navbar-nav navbar-left" href="./index.php"></a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><b>Home</b></a>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Modules </b><span class="caret"></span></a>
                    <ul class=" nav  dropdown-menu " aria-labelledby="Basic">
                        <li><a   href="./graph"><b>Graph</b></a></li>
                        <li><a   href="./ann"><b>ANN Prediction</b></a></li>
                        <li><a   href="./fplot"><b>Function Plot</b></a></li>

                    </ul>
                </li>




                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Basic Plot </b><span class="caret"></span></a>
                    <ul class=" nav  dropdown-menu " aria-labelledby="Basic">
                        <li><a   href="#" style="color: red"><b>Scatter plot</b></a></li>
                        <li><a   href="./"><b>Line Plot</b></a></li>
                        <li><a   href="./bar"><b>Bar Plot</b></a></li>
                        <li><a   href="./pie"><b>Pie Plot</b></a></li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Statistical Plot</b><span class="caret"></span></a>
                    <ul class=" nav  dropdown-menu " aria-labelledby="Basic">
                        <li><a   href="./histogram"><b>Histogram</b></a></li>
                        <li><a   href="#" style="color: red;"><b>Box Plot</b></a></li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Scientific Plot</b><span class="caret"></span></a>
                    <ul class=" nav  dropdown-menu " aria-labelledby="Basic">
                        <li><a   href="#" style="color:red;"><b>Error Bar</b></a></li>
                        <li><a   href="#"  style="color: red"><b>Heatmap</b></a></li>
                        <li><a   href="./interpolation"><b>Interpolation</b></a></li>


                        <li><a   href="./clustering"><b>Clustering</b></a></li>
                        <li><a   href="./contour"><b>Contour</b></a></li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Fitting</b><span class="caret"></span></a>
                    <ul class=" nav  dropdown-menu " aria-labelledby="Basic">
                        <li><a   href="./linefit"><b>Linear</b></a></li>
                        <li><a   href="./curvefit"><b>Ploynomial</b></a></li>

                        <li><a   href="#" style="color: red"><b>Exponential</b></a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {%  if username %}
                <li id="username" style="background-color:deeppink;color: white;font-size:20px">{{username}}&nbsp;&nbsp;&nbsp;</li>
                <li>
                    <button class="btn btn-danger" id="logoutuser" name="logoutuser" onclick="deluser()" value='logout' >Logout</button>
                </li>
                {% endif %}


                <li>

                    <a  href="#"> <b></b></a>

                </li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="col-lg-12" >
<div class="col-lg-12" style="color:whitesmoke;font-size:30px;font-family:'Ubuntu';text-align: center" > <p style="font-size: 40px">Data ViewPoints :</p> A web based Mathematical Software for Data Analysis.</div>
           <div class="col-lg-12">
               <div class="col-lg-4"></div>
               <div class="col-lg-4">
                <input type="text" readonly class="col-lg-12  form-group input-lg" name="username"  id=username placeholder="Your Name ?" value="{{ username }}">
                </div>
               <div class="col-lg-4"></div>
                <div class="col-lg-12">

                    <div class="col-lg-2">
                        <form method="post" enctype="multipart/form-data" id="modulefile" name="modulefile" >
                            <label class="well-lg col-lg-12 form-group" style=" padding-bottom:30px;background-color:royalblue;background: linear-gradient(to right, saddlebrown , darkkhaki);" for="file">

                         <input id="file" name="file" type="file" style="display:none; ">
                            <p style="color: white;font-family: Ubuntu;font-size: large">Plotting <br>with File(.xlsx)</p><br>
                        <input type="submit" value="Start" id="fsubmit" name="fsubmit" class="btn btn-info">
                        </label>
                        </form>
                        </div>
                    <div class="col-lg-2">
                        <form method="post" enctype="multipart/form-data" id="moduleblank" name="moduleblank" >

                                 <label class="well-lg col-lg-12 form-group" style=" padding-bottom:30px;background-color:darkolivegreen;background: linear-gradient(to right, darkolivegreen , green);" for="bsubmit">

                                        <p style="color: white;font-family: Ubuntu;font-size: large">Plotting With a Blank File</p><br><br>
                                    <input type="submit" value="Start" id="bsubmit" name="bsubmit" class="btn btn-success">
                                 </label>
                        </form>
                    </div>
                    <div class="col-lg-2">
                        <form method="post" enctype="multipart/form-data" id="modulefun" name="modulefun" >

                                 <label class="well-lg col-lg-12 form-group" style=" padding-bottom:30px;background-color:indianred;background: linear-gradient(to right, indianred , darkred);" for="funsubmit" >

                                        <p style="color: white;font-family: Ubuntu;font-size:large">Function Plotting</p>
                                    <input type="submit" value="Function" id="funsubmit" name="funsubmit" class="btn btn-warning">

                                     <input type="submit" value="Parametric " id="funpsubmit" name="funpsubmit" class="btn btn-warning" style="margin-top: 10px">
                                 </label>
                        </form>
                    </div>

                    <div class="col-lg-2">
                        <form method="post" enctype="multipart/form-data" id="moduleann" name="moduleann" >

                                 <label class="well-lg col-lg-12 form-group" style=" padding-bottom:30px;background-color:cornflowerblue;background: linear-gradient(to right, saddlebrown ,sandybrown );" for="annsubmit" >

                                        <p style="color: white;font-family: Ubuntu;font-size: large">ANN and Digit Recognization </p><br>
                                    <input type="submit" value="ANN" id="annsubmit" name="annsubmit"  style="background: linear-gradient(to right, saddlebrown ,sandybrown );" class="btn btn-primary">

                                 </label>
                        </form>
                    </div>



                    <div class="col-lg-2">
                        <form method="post" enctype="multipart/form-data" id="moduleanalysis" name="moduleanalysis" >

                                 <label class="well-lg col-lg-12 form-group" style=" padding-bottom:30px;background-color:cornflowerblue;background: linear-gradient(to right, royalblue , skyblue);" for="analysissubmit" >

                                        <p style="color: white;font-family: Ubuntu;font-size: large">Analysis</p><br><br><br>
                                    <input type="submit" value="Analysis" id="analysissubmit" name="analysissubmit"  style="background: linear-gradient(to right,royalblue, skyblue);" class="btn btn-primary">

                                 </label>
                        </form>
                    </div>


                    <div class="col-lg-2">
                        <form method="post" enctype="multipart/form-data" id="module3d" name="module3d" >

                                 <label class="well-lg col-lg-12 form-group" style=" padding-bottom:30px;background-color:cornflowerblue;background: linear-gradient(to right, orangered , coral);" for="submit3d" >

                                        <p style="color: white;font-family: Ubuntu;font-size: large">3D Plotting </p><br><br><br>
                                    <input type="submit" value="3D" id="submit3d" name="submit3d"  style="background: linear-gradient(to right, orangered , coral);" class="btn btn-primary">

                                 </label>
                        </form>
                    </div>

                </div>

                             <input type="submit"   class="form-group"  style="display: none" name="submit">

                   </form>

               <div class="col-lg-4"></div>
               <div class="col-lg-12">
                   </div>

                </div>

            </div>
    <br>
<div class="col-lg-12" style="color:whitesmoke;font-size:35px;font-family:'Ubuntu';text-align: center" > Advisor:- Dr. Motahar Reza </div>

<div class="col-lg-12" style="color: whitesmoke;font-size: 35px;font-family: Ubuntu;text-align: center">By:- Bhawnesh Dipu </div>

</body>
{% endblock nav%}
